* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'sans-serif', cursive;
}

.container {
  background-color: #fbe6c2;
  min-height: 100vh;
  padding: 0px 0px 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-head {
  background-color: #f0c929;
  display: flex;
  border-radius: 40px 40px 40px 40px;
  padding: 0px 0px 0px 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  /* width: 100%; */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo img {
  width: 60px;
}

.logo h1 {
  margin: 11px 4px;
  align-items: center;
}

.buscador {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #f48b29;
  padding: 0px 14px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0px 40px 40px 0px;
}

.container-caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
  /* animation-name: opacidad;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-duration: 5000ms;
  animation-timing-function: ease; */
}

@keyframes opacidad {
  0% {
    opacity: 0.1;
  }
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.caja {
  background-color: rgba(200, 80, 200, 0.5);
  height: 100px;
  margin-bottom: 5px;
  text-align: center;
  width: 140px;
  position: relative;
  transition: opacity 100ms;
}

.caja > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0;
  transition: color 100ms;
}

h3 {
  color: rgba(255, 255, 255, 0.609);
}

.caja i {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.609);
}

i:hover {
  color: rgba(255, 255, 255, 0.9);
}

.caja:hover {
  opacity: 0.9;
  border: 2px solid rgb(71, 66, 66);
}

.btn-clipboard {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background-color: #f48b29;
  border-radius: 5px;
  border: none;
  color: #ac0d0d;
  padding: 10px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  h1 {
    font-size: 18px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }
}
